//text
:root {
    --text-black: #333333;
    --text-black: #000000;
    --text-blue: #88BFFF;
    --text-blue2: #0077FF;
    --text-white:#FFFFFF;
    --text-green:#74B7B1;
    

    //bgc    
    --bgc-grey: #F7F7F7; 
    --bgc-green:  #74B7B1; 
    --bgc-sky: #1D72D3;
    --bgc-about: #E9F0F8;
    --bgc-white:#FFFFFF;

  }